FoodOrderingAppFlow_20190701071308/Microsoft.Flow/flows/862425b9-9676-45b8-93d2-ac0bfb1c28a3/definition.json
{"name":"a5b219b6-ef73-4ed4-ba81-6e33b8a38a59","id":"/providers/Microsoft.Flow/flows/a5b219b6-ef73-4ed4-ba81-6e33b8a38a59","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Food Ordering App Flow","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"84803cfa-b9b9-442f-9279-f6020b73f836","type":"User","tenantId":"84d129ef-2bc5-489c-a51c-49bd582d2f03"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-06-19T09:43:15.5136665Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","required":["ApproverToEmail","ResultFollowUpToEmail","Getitem_Id"],"properties":{"ApproverToEmail":{"type":"string","format":"email","description":"Specify email addresses to send the approval email to separated by semicolons like someone@contoso.com","x-ms-powerflows-param-ispartial":false},"ResultFollowUpToEmail":{"type":"string","format":"email","description":"Specify email addresses to inform about the result of the approval separated by semicolons like someone@contoso.com","x-ms-powerflows-param-ispartial":false},"Getitem_Id":{"type":"integer","format":"int64","description":"Unique identifier of item to be retrieved","x-ms-powerflows-param-ispartial":false}}}}}},"actions":{"Start_an_approval":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribe"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/approvals"}},"body":{"NotificationUrl":"@listCallbackUrl()","title":"Approval Request","assignedTo":"@{triggerBody()['ApproverToEmail']}","details":"Food Ordering Details:\nEmployee Ordered: @{body('Get_item')?['Author']?['DisplayName']}\nDate: @{body('Get_item')?['Date']}\nAddress: @{body('Get_item')?['Address']}\nQuantity: @{body('Get_item')?['Quantity']}\nTotal Amount: @{body('Get_item')?['Amount_x0028_RM_x0029_']}"},"path":"/basic/$subscriptions","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Update_item_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Title":"@body('Update_item')?['Author']?['DisplayName']","FriedChicken":true,"FriedEgg_x0028_RM1_x0029_":true,"Vegetables":true,"GoLarge_x0028_RM2_x0029_":true,"ExtraSpicy":true,"Approval_x0028_Status_x0029_":{"Value":"Approved"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://khazanahpowerapps.sharepoint.com/sites/PowerAppsTestSite'))}/tables/@{encodeURIComponent(encodeURIComponent('47312257-5caa-4a63-8957-8a3e77f7d48c'))}/items/@{encodeURIComponent(body('Get_item')?['ID'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_email":{"runAfter":{"Update_item_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()['ResultFollowUpToEmail']};","Subject":"Your request has been approved","Body":"Your approval request has been approved by @{body('Start_an_approval')?['responder']?['displayName']}. \nComments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Start_an_approval":["Succeeded"]},"else":{"actions":{"Send_rejection_email":{"runAfter":{"Update_item_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"@{triggerBody()['ResultFollowUpToEmail']}","Subject":"Your request has been rejected","Body":"Your approval request has been rejected by @{body('Start_an_approval')?['responder']?['displayName']}. Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item_3":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Title":"@body('Update_item')?['Author']?['DisplayName']","FriedChicken":true,"FriedEgg_x0028_RM1_x0029_":true,"Vegetables":true,"GoLarge_x0028_RM2_x0029_":true,"ExtraSpicy":true,"Approval_x0028_Status_x0029_":{"Value":"Rejected"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://khazanahpowerapps.sharepoint.com/sites/PowerAppsTestSite'))}/tables/@{encodeURIComponent(encodeURIComponent('47312257-5caa-4a63-8957-8a3e77f7d48c'))}/items/@{encodeURIComponent(body('Get_item')?['ID'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":"@equals(body('Start_an_approval')?['response'], 'Approve')","type":"If"},"Get_item":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/sharepointonline"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://khazanahpowerapps.sharepoint.com/sites/PowerAppsTestSite'))}/tables/@{encodeURIComponent(encodeURIComponent('47312257-5caa-4a63-8957-8a3e77f7d48c'))}/items/@{encodeURIComponent(triggerBody()['Getitem_Id'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/sharepointonline"}},"method":"patch","body":{"Title":"@body('Get_item')?['Author']?['DisplayName']","FriedChicken":true,"FriedEgg_x0028_RM1_x0029_":true,"Vegetables":true,"GoLarge_x0028_RM2_x0029_":true,"ExtraSpicy":true,"Approval_x0028_Status_x0029_":{"Value":"Pending"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://khazanahpowerapps.sharepoint.com/sites/PowerAppsTestSite'))}/tables/@{encodeURIComponent(encodeURIComponent('47312257-5caa-4a63-8957-8a3e77f7d48c'))}/items/@{encodeURIComponent(body('Get_item')?['ID'])}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{},"description":"Request an approval when a button or link in PowerApps is selected. Approvers can view their approval requests in the Approvals Center and over email. Once the approver responds an approval or rejection email will be sent to a recipient as a follow up."},"connectionReferences":{"shared_approvals":{"connectionName":"shared-approvals-1b855b15-0f88-4e7a-80e6-c2168efba0ae","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"301b067f5c06486d9e7a1105b9d64644","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"cd6f78159cb84bcdb9f52eccdcdf4965","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}